@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>&nbsp;</div>
Search Results for: @ViewData["searchTerm"]
<div>&nbsp;</div>

