@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h4>Command Injection (HomeController)</h4>
    <p><a href="/home/Example10?command=cmd.exe&arguments=/c%20type%20c:\temp\trace.log">Example10 (normal use)</a></p>
    <p><a href="/home/Example10?command=notepad.exe">Example10 (abuse command injection, open notepad.exe)</a></p>

    <p><a href="/home/Example20?path=c:\temp\trace.log">Example20 (normal use)</a></p>
    <p><a href="/home/Example20?path=c:\temp\trace.log%20%26%26%20c:\windows\notepad.exe">Example20 (abuse command injection, open notepad.exe)</a></p>

    <p><a href="/home/Example40?path=c:\temp\trace.log">Example40 (normal use)</a></p>
    <p><a href="/home/Example40?path=c:\temp\trace.log%20%26%26%20c:\windows\notepad.exe">Example40 (path contains invalid characters)</a></p>
    <p><a href="/home/Example40?path=c:\tempxy\bla.txt">Example40 (path points to a forbidden location)</a></p>
    <p><a href="/home/Example40?path=c:\temp\pal_module_tester_series2_assert_exceptions_2_.log">Example40 (path does not represent a valid file)</a></p>
</div>

<div class="text-center">
    <h4>SQL Injection (SchoolController)</h4>
    <p><a href="https://localhost:44365/school/Example100_FindByStudentId?studentId=1">Example100_FindByStudentId (normal use)</a></p>
    <p><a href="https://localhost:44365/school/Example100_FindByStudentId?studentId=1%20%20or%201=1%20--">Example100_FindByStudentId (abuse SQL-injection: dump full table "Students")</a></p>

    <p><a href="https://localhost:44365/school/Example100_FindByStudentLastName?studentLastName=Alexander">Example100_FindByStudentLastName (normal use)</a></p>
    <p><a href="https://localhost:44365/school/Example100_FindByStudentLastName?studentLastName=Alexander%27%20or%201=1%20--">Example100_FindByStudentLastName (abuse SQL-injection: dump full School-table)</a></p>
    <p><a href="https://localhost:44365/school/Example100_FindByStudentLastName?studentLastName=bla%27%20union%20select%20rootpage,type,name,sql%20from%20sqlite_schema%20--">Example100_FindByStudentLastName (abuse SQL-injection: dump all tables-names including column-names)</a></p>
    <p><a href="https://localhost:44365/school/Example100_FindByStudentLastName?studentLastName=bla%27%20union%20select%20EnrollmentID,CourseID,StudentID,Grade%20from%20Enrollment%20--">Example100_FindByStudentLastName (abuse SQL-injection: dump full table "Enrollment")</a></p>
    <p><a href="https://localhost:44365/school/Example100_FindByStudentLastName?studentLastName=bla%27%20union%20select%20CourseID,Title,Null,Null%20from%20Course%20--">Example100_FindByStudentLastName (abuse SQL-injection: dump full table "Course")</a></p>

    <p><a href="https://localhost:44365/school/Example100_FindByStudentFirstMidName?studentFirstMidName=Carson">Example100_FindByStudentFirstMidName (normal use)</a></p>
    <p><a href="https://localhost:44365/school/Example100_FindByStudentFirstMidName?studentFirstMidName=Carson%27%20or%201=1%20--">Example100_FindByStudentFirstMidName (abuse SQL-injection: dump full table "Students")</a></p>
</div>

<div class="text-center">
    <h4>Reflected XSS (SearchController)</h4>
    <p><a href="/Search/Example210?searchterm=Li">Example210 (normal use)</a></p>
    <p><a href="/Search/Example210?searchterm=Li%3Cscript%3Ealert(%27x%27);%3C/script%3E">Example210 (with XSS payload)</a></p>

    <p><a href="/Search/Example220?searchterm=Li">Example220 (normal use)</a></p>
    <p><a href="/Search/Example220?searchterm=Li%3Cscript%3Ealert(%27x%27);%3C/script%3E">Example220 (with XSS payload, mitigated with HTML encoding)</a></p>

    <p><a href="/Search/Example230?searchterm=Li">Example230 (normal use)</a></p>
    <p><a href="/Search/Example230?searchterm=Li%3Cscript%3Ealert(%27x%27);%3C/script%3E">Example230 (with XSS payload, mitigated with HTML sanitization)</a></p>

    <p><a href="/Search/Example240?searchterm=Li">Example240 (normal use)</a></p>
    <p><a href="/Search/Example240?searchterm=Li%3Cscript%3Ealert(%27x%27);%3C/script%3E">Example240 (with XSS payload, mitigated with razor)</a></p>
</div>

<div class="text-center">
    <h4>Content Security Policy (ViolatingController)</h4>
    <p><a href="/violating/InlineJavaScript">Inline Javascript</a></p>
    <p><a href="/violating/JavaScriptFromInternet">Javascript from the internet</a></p>

    <p><a href="/violating/InlineCss">Inline Css</a></p>

    <p></p>
    <p>See also: <a href="https://content-security-policy.com/">https://content-security-policy.com/</a></p>
    <p>See also: Logfile in c:\temp e.g. CyberSecurity3WebApplication-20220104.log</p>
</div>

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

