@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h4>Command Injection (HomeController)</h4>
    <p><a href="/home/Example10?command=cmd.exe&arguments=/c%20type%20c:\temp\pal_module_tester_series2_assert_exceptions.log">Example10 (normal use)</a></p>
    <p><a href="/home/Example10?command=notepad.exe">Example10 (abuse command injection, open notepad.exe)</a></p>

    <p><a href="/home/Example20?path=c:\temp\pal_module_tester_series2_assert_exceptions.log">Example20 (normal use)</a></p>
    <p><a href="/home/Example20?path=c:\temp\pal_module_tester_series2_assert_exceptions.log%20%26%26%20c:\windows\notepad.exe">Example20 (abuse command injection, open notepad.exe)</a></p>

    <p><a href="/home/Example40?path=c:\temp\pal_module_tester_series2_assert_exceptions.log">Example40 (normal use)</a></p>
    <p><a href="/home/Example40?path=c:\temp\pal_module_tester_series2_assert_exceptions.log%20%26%26%20c:\windows\notepad.exe">Example40 (path contains invalid characters)</a></p>
    <p><a href="/home/Example40?path=c:\tempxy\bla.txt">Example40 (path points to a forbidden location)</a></p>
    <p><a href="/home/Example40?path=c:\temp\pal_module_tester_series2_assert_exceptions_2_.log">Example40 (path does not represent a valid file)</a></p>
</div>

<div class="text-center">
    <h4>SQL Injection (SchoolController)</h4>
</div>

<div class="text-center">
    <h4>Reflected XSS (SearchController)</h4>
    <p><a href="/Search/Example210?searchterm=Li">Example210 (normal use)</a></p>
    <p><a href="/Search/Example210?searchterm=Li%3Cscript%3Ealert(%27x%27);%3C/script%3E">Example210 (with XSS payload)</a></p>

    <p><a href="/Search/Example220?searchterm=Li">Example220 (normal use)</a></p>
    <p><a href="/Search/Example220?searchterm=Li%3Cscript%3Ealert(%27x%27);%3C/script%3E">Example220 (with XSS payload, mitigated with HTML encoding)</a></p>

    <p><a href="/Search/Example230?searchterm=Li">Example230 (normal use)</a></p>
    <p><a href="/Search/Example230?searchterm=Li%3Cscript%3Ealert(%27x%27);%3C/script%3E">Example230 (with XSS payload, mitigated with HTML sanitization)</a></p>

    <p><a href="/Search/Example240?searchterm=Li">Example240 (normal use)</a></p>
    <p><a href="/Search/Example240?searchterm=Li%3Cscript%3Ealert(%27x%27);%3C/script%3E">Example240 (with XSS payload, mitigated with razor)</a></p>
</div>

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
